{% extends "base.html" %}

{% block title %} Incredibox Irrelevant Reunion New Oc Mod Play On Sprunkr.Online{% endblock %}

{% block meta_description %}
<meta name="description" content="Incredibox Irrelevant Reunion reimagines music games as strategic battlegrounds combine character synergies and rhythmic precision to create unbeatable vocal teams through tactical beatcraft.">
{% endblock %}

{% block og_title %}Incredibox Irrelevant Reunion Sprunkr Oc Mod Play On Sprunkr.Online{% endblock %}
{% block og_description %}Incredibox Irrelevant Reunion reimagines music games as strategic battlegrounds combine character synergies and rhythmic precision to create unbeatable vocal teams through tactical beatcraft.{% endblock %}
{% block og_image %}https://sprunkr.online/static/images/games/incredibox-irrelevant-reunion-preview.png{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/incredibox-irrelevant-reunion.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/incredibox-irrelevant-reunion-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://s.sprunkiscrunkly.com/games/incredibox-irrelevant-reunion/incredibox-irrelevant-reunion.html",
        title="Incredibox Irrelevant Reunion",
        description="Incredibox Irrelevant Reunion reimagines music games as strategic battlegrounds combine character synergies and rhythmic precision to create unbeatable vocal teams through tactical beatcraft."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Trending Games Section -->
    {% with current_page='incredibox-irrelevant-reunion' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}

    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}

    
</div>
{% endblock %}
