{% extends "base.html" %}

{% block title %}Sprunki Retake Sprunkr Oc Mod Play On Sprunkr.Online{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunkr, A New Sprunki Horror Mod Online, Create unique horror compositions, experience spine-chilling sound effects, and immerse yourself on sprunkr online">
{% endblock %}

{% block og_title %}Sprunki Retake Sprunkr Oc Mod Play On Sprunkr.Online{% endblock %}
{% block og_description %}Sprunkr, A New Sprunki Horror Mod Online, Create unique horror compositions, experience spine-chilling sound effects, and immerse yourself on sprunkr online{% endblock %}



    <!-- Adsterra Native Banner Ad 
    <div class="container mx-auto px-4 py-8">
        <script async="async" data-cfasync="false" src="//pl25386595.profitablecpmrate.com/f978f53d3a3690a179256f47ca12dd04/invoke.js"></script>
        <div id="container-f978f53d3a3690a179256f47ca12dd04"></div>
    </div>
    -->

    <!-- Trending Games Section -->
    {% with current_page='sprunkr' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}

   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
