{% extends "base.html" %}

{% block title %}Sprunki Fiddlebops Oc Mod Play On Sprunkr Online{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunki FiddleBops, a fan-made gem inspired by Incredibox! it's an interactive music creator. meet unique characters, and engage in dynamic gameplay.">
{% endblock %}

{% block og_title %}Sprunki Fiddlebops Oc Mod Play On Sprunkr Online{% endblock %}
{% block og_description %}Sprunki FiddleBops, a fan-made gem inspired by Incredibox! it's an interactive music creator. meet unique characters, and engage in dynamic gameplay.{% endblock %}
{% block og_image %}https://sprunkr.online/static/images/games/fiddlebops-preview.png{% endblock %}

{% block head %}
<meta name="description" content="Sprunki FiddleBops, a fan-made gem inspired by Incredibox! it's an interactive music creator. meet unique characters, and engage in dynamic gameplay.">
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/sprunki-fiddlebops-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/sprunki-fiddlebops-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-orange-800 via-amber-700 to-yellow-600",
        blob_gradient_1="from-orange-800 to-amber-700",
        blob_gradient_2="from-amber-700 to-yellow-600",
        title_gradient="from-orange-600 via-amber-500 to-yellow-400",
        game_url="https://silkycell.github.io/FiddleBops/",
        title="Sprunki Fiddlebops",
        description="Sprunki FiddleBops, a fan-made gem inspired by Incredibox! it's an interactive music creator. meet unique characters, and engage in dynamic gameplay."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Adsterra Native Banner Ad 
    <div class="container mx-auto px-4 py-8">
        <script async="async" data-cfasync="false" src="//pl25386595.profitablecpmrate.com/f978f53d3a3690a179256f47ca12dd04/invoke.js"></script>
        <div id="container-f978f53d3a3690a179256f47ca12dd04"></div>
    </div>
    -->
    <!-- Trending Games Section -->
    {% with current_page='sprunki-fiddlebops' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    <!-- faq Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
