{% extends "base.html" %}

{% block title %}Play Sprunki Parodybox Characters Mod of Sprunki on Sprunkr Online in 2025{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunki Parodybox is a Spine-Chilling Music Creation Experience. Similar to Incredibox, yet with a Distinctively Eerie Horror Twist, Try it!">
{% endblock %}

{% block meta_keywords %}
<meta name="keywords" content="Sprunki Parodybox,horror music game,music creation,Sprunkr,online music game,sound design,artistic creation">
{% endblock %}

{% block og_title %}Play Sprunki Parodybox Characters Mod of Sprunki on Sprunkr Online in 2025{% endblock %}
{% block og_description %}Sprunki Parodybox is a Spine-Chilling Music Creation Experience. Similar to Incredibox, yet with a Distinctively Eerie Horror Twist, Try it!{% endblock %}
{% block og_image %}https://sprunkr.online/static/images/games/parodybox-preview.png{% endblock %}

{% block head %}
<meta name="description" content="Sprunki Parodybox is a Spine-Chilling Music Creation Experience. Similar to Incredibox, yet with a Distinctively Eerie Horror Twist, Try it!">
<meta name="keywords" content="Sprunki Parodybox,horror music game,music creation,Sprunkr,online music game,sound design,artistic creation">
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/parodybox-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/parodybox-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-fuchsia-800 via-purple-700 to-violet-600",
        blob_gradient_1="from-fuchsia-800 to-purple-700",
        blob_gradient_2="from-purple-700 to-violet-600",
        title_gradient="from-fuchsia-600 via-purple-500 to-violet-400",
        game_url="https://wowtbc.net/sprunkin/parodybox-but-sprunkicool/index.html",
        title="Sprunki Parodybox",
        description="Experience a unique blend of horror and parody in this creative music game. Mix funny and spooky sounds to create your own entertaining musical masterpiece."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Trending Games Section -->
    {% with current_page='sprunki-parodybox' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    <!-- faq Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
