{% extends "base.html" %}

{% block title %}Play Sprunki Spruted Mod on Sprunkr Online{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunki Spruted, a sprunki-themed mod, is an online fan-made alteration of Incredibox Sprunki rhythm game, enjoy it on sprunkr online">
{% endblock %}

{% block og_title %}Play Sprunki Spruted Mod on Sprunkr Online{% endblock %}
{% block og_description %}Sprunki Spruted, a sprunki-themed mod, is an online fan-made alteration of Incredibox Sprunki rhythm game, enjoy it on sprunkr online{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/spruted-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/spruted-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-lime-800 via-green-700 to-emerald-600",
        blob_gradient_1="from-lime-800 to-green-700",
        blob_gradient_2="from-green-700 to-emerald-600",
        title_gradient="from-lime-600 via-green-500 to-emerald-400",
        game_url="https://wowtbc.net/sprunkin/sprunki-spruted1/index.html",
        title="Sprunki Spruted",
        description="Sprunki Spruted mode, a sprunki-themed mod, is an online fan-made alteration of Incredibox Sprunki rhythm game, enjoy it on sprunkr online"
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Trending Games Section -->
    {% with current_page='sprunki-spruted' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}

</div>
{% endblock %}
