{% extends "base.html" %}

{% block title %}Sprunki Retake Agent Oc Mod Play On Sprunkr.Online{% endblock %}

{% block meta_description %}
<meta name="description" content="Sprunki Agent, Created by AZKA gaming YT, Incredibox Retake Oc Mods, Gives the Sprunki world an epic spy - themed makeover!">
{% endblock %}

{% block og_title %}Sprunki Agents New Oc Mod Play On Sprunkr.Online{% endblock %}
{% block og_description %}Sprunki Agents, Created by AZKA gaming YT, Incredibox New Mods, Gives the Sprunki world an epic spy - themed makeover! {% endblock %}
{% block og_image %}https://sprunkr.online/static/images/games/sprunki-agents-preview.png{% endblock %}

{% block head %}
<meta name="description" content="Sprunki Agent, Created by AZKA gaming YT, Incredibox Retake Oc Mods, Gives the Sprunki world an epic spy - themed makeover!">
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/sprunki-agents-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/sprunki-agents-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-teal-400 via-cyan-500 to-blue-500",
        blob_gradient_1="from-teal-500 to-cyan-500",
        blob_gradient_2="from-cyan-500 to-blue-500",
        title_gradient="from-teal-500 via-cyan-500 to-blue-500",
        game_url="https://wowtbc.net/sprunkin/agent-sprunkis/index.html",
        title="Sprunki Agents New Oc Mod",
        description="Sprunki Agents, Created by AZKA gaming YT, Incredibox New Mods, Gives the Sprunki world an epic spy - themed makeover! "
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Adsterra Native Banner Ad 
    <div class="container mx-auto px-4 py-8">
        <script async="async" data-cfasync="false" src="//pl25386595.profitablecpmrate.com/f978f53d3a3690a179256f47ca12dd04/invoke.js"></script>
        <div id="container-f978f53d3a3690a179256f47ca12dd04"></div>
    </div>
    -->

    <!-- Trending Games Section -->
    {% with current_page='sprunki-agents' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}

    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}

    
</div>
{% endblock %}
